<launch>

    <param name="robot_description" textfile="$(find differential_drive)/blinky.urdf" />
    <rosparam command="load" file="/home/crues/crues_pi/config/params.yaml" />

    <!-- SENSORS -->
    <include file="$(find crues_sensors)/us.launch" />

    <node name="left_encoder" pkg="crues_sensors" type="enc_node.py">
        <remap from="~rate" to="enc_rate" />
        <remap from="~pin_a" to="pins/ela" />
        <remap from="~pin_b" to="pins/elb" />
        <remap from="/wheel" to="/lwheel"/>
    </node>

    <node name="right_encoder" pkg="crues_sensors" type="enc_node.py">
        <remap from="~rate" to="enc_rate" />
        <remap from="~pin_a" to="pins/era" />
        <remap from="~pin_b" to="pins/erb" />
        <remap from="/wheel" to="/rwheel" />
    </node>

<!--    <node name="imu" pkg="crues_sensors" type="imu_node.py">-->
<!--        <remap from="~rate" to="imu_rate" />-->
<!--    </node>-->

    <!-- ACTUATORS -->
    <include file="$(find crues_actuators)/motors.launch" />
    <include file="$(find crues_actuators)/leds.launch" />

    <!-- CONTROL -->
    <node name="diff_tf" pkg="differential_drive" type="diff_tf.py">
        <remap from="~rate" to="enc_rate" />
        <param name="base_width" type="double" value="0.149" />
        <remap from="/odom" to="/odometry/wheel" />
    </node>

    <node name="lpid_velocity" pkg="differential_drive" type="pid_velocity.py">
        <param name="out_min" type="double" value="-0.5" />
        <param name="out_max" type="double" value="0.5" />
        <param name="rolling_pts" type="int" value="2" />
        <remap from="~Kp" to="pid/Kp" />
        <remap from="~Ki" to="pid/Ki" />
        <remap from="~Kd" to="pid/Kd" />
        <remap from="~rate" to="enc_rate" />
        <remap from="/wheel" to="/lwheel" />
        <remap from="/motor_cmd" to="/lmotor_cmd" />
        <remap from="/wheel_vtarget" to="/lwheel_vtarget" />
        <remap from="/wheel_vel" to="/lwheel_vel" />
    </node>

    <node name="rpid_velocity" pkg="differential_drive" type="pid_velocity.py">
        <param name="out_min" type="double" value="-0.5" />
        <param name="out_max" type="double" value="0.5" />
        <param name="rolling_pts" type="int" value="2" />
        <remap from="~Kp" to="pid/Kp" />
        <remap from="~Ki" to="pid/Ki" />
        <remap from="~Kd" to="pid/Kd" />
        <remap from="~rate" to="enc_rate" />
        <remap from="/wheel" to="/rwheel" />
        <remap from="/motor_cmd" to="/rmotor_cmd" />
        <remap from="/wheel_vtarget" to="/rwheel_vtarget" />
        <remap from="/wheel_vel" to="/rwheel_vel" />
    </node>

    <node name="twist_to_motors" pkg="differential_drive" type="twist_to_motors.py" output="screen">
        <param name="base_width" type="double" value="0.141" />
        <param name="rate" type="double" value="50" />
        <param name="timeout_ticks" type="int" value="7" />
    </node>

<!--    <node name="ekf" pkg="robot_localization" type="ekf_localization_node" clear_params="true">-->
<!--        <rosparam command="load" file="/home/crues/crues_pi/config/ekf.yaml" />-->
<!--        <remap from="/cmd_vel" to="/twist" />-->
<!--    </node>-->

    <node name="slam" pkg="gmapping" type="slam_gmapping" output="screen">
        <param name="maxRange" value="4.0" />
        <param name="maxUrange" value="2.0" />
        <param name="xmin" value="-2.0" />
        <param name="xmax" value="2.0" />
        <param name="ymin" value="-2.0" />
        <param name="ymax" value="2.0" />
        <param name="delta" value="0.05" />
        <param name="particles" value="30" />
        <param name="map_update_interval" value="10" />
        <remap from="/scan" to="/us_scan" />
    </node>

    <!-- DATA RECORDING -->
<!--    <node name="rosbag_odom" pkg="rosbag" type="record" args="record -o /home/crues/rosbag/odom /tf /odometry/wheel /odometry/filtered" />-->
<!--    <node name="rosbag_slam" pkg="rosbag" type="record" args="record -o /home/crues/rosbag/maps /tf /map" />-->
    <node name="rosbag" pkg="rosbag" type="record" args="record -o /home/crues/rosbag/maps /tf /odometry/wheel /map" />

    <node name="controller" pkg="crues_control" type="path_control.py" required="true">
        <param name="turn_vel" type="double" value="1" />
        <param name="fwd_vel" type="double" value="0.15" />
        <remap from="~rate" to="enc_rate" />
        <param name="path_file" value="$(find crues_control)/paths/map_scan.txt" />
    </node>

</launch>