<launch>

    <rosparam command="load" file="/home/crues/crues_pi/config/params.yaml" />

    <node name="sonar_tf_broadcaster" pkg="crues_sensors" type="sonar_tf.py" />
    <node name="ultrasonic" pkg="crues_sensors" type="us_node.py">
        <param name="offset_left" value="0.020" />
        <param name="response_centre" value="0.9987" />
        <param name="offset_centre" value="0.0188731" />
        <param name="offset_right" value="0.020" />
        <param name="range_max" value="4.0" />
        <remap from="~rate" to="us_rate" />
    </node>

</launch>