# Compiled Python files
*.pyc

# Virtual environments
venv/

# PyCharm files
.idea/

# Compressed files
*.zip
*.tar
*.gz

# Eagle files
*.b#*
*.s#*
*.job
*.pro
*.brd.lck
*.sch.lck

# Temporary OpenOffice files
*.~lock.*#

# Latex files
*.aux
*.log
*.tex.bak
*.synctex.gz
*.toc
*.bbl
*.bcf
*.blg
*.run.xml
*.bib.bak
*.fls
*.fdb_latexmk
*.out
*.lof
*.lol
*.lot
*.pgf-plot.gnuplot
*.pgf-plot.table
*.snm
*.nav
*.tdo
/docs/**/report.pdf
