<launch>
    <rosparam command="load" file="$(find crues_control)/config/robots.yaml" />
    <rosparam command="load" file="$(find crues_control)/config/params.yaml" />
    <node name="client" pkg="crues_comms" type="client_node.py" respawn="true" />
    <node name="server" pkg="crues_comms" type="server_node.py" respawn="true" />
</launch>
