<launch>
    <!--Empty control node that does nothing for debugging purposes.-->

    <include file="$(find crues_control)/launch/robot.launch" />

    <node name="roomba" pkg="crues_control" type="roomba_control.py">
        <param name="turn_vel" type="double" value="0" />
        <param name="fwd_vel" type="double" value="0" />
        <param name="obstacle_range" type="double" value="0" />
        <remap from="~rate" to="encoder/rate" />
    </node>

</launch>